<h1>Resultado da busca por: <%= params[:search] %></h1>

<% if @recipes.empty? %>
  Nenhum resultado encontrado.
<% end %>

<% @recipes.each do |recipe| %>
  <%= render recipe %>
<% end %>

<%= link_to 'Voltar', root_path %>
